<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Edad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nombre }}</td>
          <td><a href="mailto:{{ usuario.email }}">{{ usuario.email }}</a></td>
          <td>{{ usuario.edad }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>